.screen {
    background-color: #f3f2f1;
    .askaway-tab-added {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .create-session {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .text-configtab-caption {
        font-size: 18px;
        line-height: 24px;
        color: #252423;
        font-weight: bold;
        top: 55%;
        position: absolute;
    }
    .text-caption {
        font-size: 18px;
        line-height: 24px;
        color: #252423;
        font-weight: bold;
        top: 52%;
        position: absolute;
    }
    .text-subcaption {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        top: 58%;
        position: absolute;
    }
    .button {
        top: 67%;
        position: absolute;
    }
}
.sidepanel-form {
    display: flex;
    flex-direction: column;
    .form-grid {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        span {
            font-size: 12px;
            line-height: 16px;
        }
        .btn-create-session {
            text-align: center;
            height: 32px;
            position: absolute;
            right: 2rem;
            bottom: 2rem;
            width: 96px;
            border-radius: 2px;
            .ui-button__content {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .ui-input,
    .ui-textarea {
        margin-top: 0.25rem;
        font-size: 14px;
    }
}
.meeting-panel {
    .button {
        top: 67%;
        position: absolute;
    }
    .newUpdatesButton {
        top: 12%;
        display: block;
        position: absolute;
        background-color: #6366a5;
        text-align: center;
        z-index: 99;
        transform: translateX(40%);
    }
    .newUpdatesButtonContent {
        font-size: medium;
        font-weight: normal;
    }
    .no-question {
        .text-caption-panel {
            font-size: 12px;
            line-height: 16px;
            top: 55%;
            position: absolute;
            text-align: center;
            width: 70%;
            left: 25%;
            max-inline-size: 9rem;
        }
        .create-session {
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 17rem;
        }
    }
    .session-title {
        font-size: 18px;
        line-height: 21px;
    }
    .menuHeader {
        svg {
            fill: #ffffff;
        }
        .ui-menu__item__submenu {
            border: none;
        }
    }
    .question-card {
        margin-top: 1rem;
        height: 20rem;
        overflow-x: hidden;
        .card-divider {
            border-bottom: 1px solid #3b3a39;
            height: 4.5rem;
            .card-layout {
                width: 100%;
                padding: 0.5rem;
                border-radius: 0rem;
                .author-name {
                    font-size: 12px;
                    line-height: 20px;
                }
                .like-icon {
                    position: absolute;
                    top: 0.3rem;
                    right: 1rem;
                    .like-icon-size {
                        min-width: 1rem;
                    }
                }
                .card-body-question {
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 0.4rem;
                }
            }
        }
    }
    .menu-bar {
        border-bottom: none;
        a {
            border-bottom-width: medium;
        }
        span {
            padding-bottom: 0.7rem;
        }
    }
    .input-text-field {
        position: absolute;
        bottom: 0.75rem;
        width: 94%;
        .text-question {
            height: 2.5rem;
            margin-right: -0.5rem;
            word-break: break-word;
        }
        .send-button {
            position: relative;
            top: 0.25rem;
            left: 1rem;
        }
    }
}
.badge {
    color: #fff;
    width: 3.75rem;
    font-family: Segoe UI;
    font-size: 12px;
    padding: 0.55em 0.5em;
    line-height: 0.35rem;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
    text-align: center;
    margin-bottom: 0.25rem;
}
.badge--success {
    background-color: #92c353;
}
.badge--primary {
    background-color: #6264a7;
}
.badge--disabled {
    background-color: #979797;
}

#post-new-question {
    margin: 2rem auto 0 auto;
    width: 80%;
    padding: 0.1rem;
    .ui-card {
        &.jn {
            &:hover {
                background-color: #292828 !important;
            }
        }
        &.fi {
            &:hover {
                background-color: #faf9f8 !important;
            }
        }
    }
    .card-layout {
        width: 100%;
        .date-content-format {
            font-size: 12px;
            line-height: 16px;
            padding-top: 0.15rem;
        }
        .session-title {
            padding-top: 0.5rem;
            font-size: 18px;
            line-height: 24px;
        }
    }
}
.no-question-layout {
    margin: 0 auto;
    width: 25%;
    text-align: center;
    .sub-text {
        width: 62%;
        margin: 0 auto;
    }
}
.notification-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 20px;
}
